<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="View.Properties.Settings.simplewkConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=simplewk"
            providerName="MySql.Data.MySqlClient" />
        <add name="View.Properties.Settings.simplewkConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=simplewk;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>